.def-container{
    height: calc(100vh - 64px);
    background-size: cover;
    position: relative;
}

.index{
    background-image: url('../img/main.jpg');
}

.slogan{
    margin-left: 5%;
    margin-top: 25%;
    position: absolute;
    font-size: x-large;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}